/* Stylesheet to organize pseudositer horizontally. */

.pseudositer-index-container {
  display: inline-block;
}

.pseudositer-index {
  display: inline-block;
  background-color: #DDD;
  border: 1px solid black;
  padding: .1em;
  margin: .1em;
  vertical-align: middle;
}

.pseudositer-index a {
  background-color: #BBB;
  border: 1px solid black;
  padding: .2em;
  margin: .2em;
  color: black;
  display: block;
  text-decoration: none;
}

.pseudositer-index a:hover {
  background-color: white;
}

.pseudositer-content {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border: 1px dashed black;
  vertical-align: middle;
}

.pseudositer-loading {
  position: absolute;
  background-color: #BBB;
  border: 1px solid black;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  vertical-align: middle;
  text-align: center;
}
.pseudositer-error {
  position: absolute;
  background-color: #BBB;
  color: red;
  border: 1px solid red;
  text-align: center;
  z-index: 10;
  vertical-align: middle;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
}
