body {
	font-family: Geneva, Arial, sans-serif;
	font-size: 1em;
	color: black;
	margin: 0px;
	background: #F9F9FF;
}

a {
	text-decoration: none;
}

a:hover {
}

code {
	color: #333;
/*	font-family: courier, "courier new", monospace;*/
	border: 1px solid #999;
	padding: 3px;
	background-color: white;
	display: inline-block;
	padding: .2em;
}

h1 {
}

h2 {
}

h3 {
}

ul {
	list-style-type: square;
}

hr {
	border: 0px;
	height: 1px;
	color: black;
	background-color: black;
	border: none;
	width: 50%;
}

div#pseudositer {
/*	padding: 0em 1.4em 0 1.4em;*/
}

div#header {
	font-size: 4em;
	font-style: italic;
	font-family: Georgia, Palatino, serif;
	background: white;
}

div#header a {
	color: black;
}

div#header strong {
	font-weight: bold;
}

.pseudositer-index {
}

.pseudositer-index .pseudositer-link {
	margin: 0em .5em 0em .5em;
}

.pseudositer-index-0 {
	background: #55C;
}

.pseudositer-index-0 .pseudositer-link {
	color: #F6F6FF;
}

.pseudositer-index-0 .pseudositer-link:hover {
	color: #AAF;
}

.pseudositer-index-0 .pseudositer-link-selected {
	font-weight: bold;
	color: white;
}

.pseudositer-index-1 {
	background: #AAF;
}

.pseudositer-index-1 .pseudositer-link {
	color: #55C;
}

.pseudositer-index-1 .pseudositer-link:hover {
	color: black;
}

.pseudositer-index-1 .pseudositer-link-selected {
	font-weight: bold;
	color: black;
}

.pseudositer-content {
	padding: 0em 1em 0em 1em;
}

.pseudositer-loading {
	position: fixed;
	left: 40%;
	width: 20%;
	top: 40%;
	color: #222;
	background-color: white;
	opacity: 50%;
	vertical-align: middle;
	text-align: center;
	border-radius: .5em;
	border: 1px solid black;
	padding: 1em;
}

.pseudositer-error {
	position: fixed;
	left: 40%;
	width: 20%;
	top: 40%;
	background-color: #C33;
	color: #EFE;
	vertical-align: middle;
	text-align: center;
	border-radius: .5em;
	border: 1px solid black;
	padding: 1em;
}
