<html>
  <head>

	<!-- jQuery -->
	<script type="text/javascript" src="lib/jquery/jquery-1.6.4.min.js"></script>

	<!-- Showdown -->
	<script type="text/javascript" src="lib/showdown/showdown.js"></script>

	<!-- pseudositer -->
	<script type="text/javascript" src="lib/pseudositer/pseudositer.min.js"></script>
	<script type="text/javascript" src="lib/pseudositer/extensions/pseudositer.markdown.min.js"></script>

	<script type="text/javascript" src="lib/template.js"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/pseudositer-stylesheet.css" />

	<title>Your Site's Title Here</title>
  </head>

  <body>
	<!-- You can delete the header div, or modify its text. -->
	<div id="header"><a href="#/">Home</a></div>

	<!-- You should not delete the HTML below. -->
	<div id="pseudositer">
	  <a href="content/"></a>
	</div>
	<noscript>You must have Javascript enabled to view this site!  You can browse the content <a href="content/">here.</a></noscript>
  </body>
</html>
	
